<head>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap.min" %>
</head>
<body>
  <div class="navbar-wrapper">
        <div class="container">

          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Chapter Template</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="#">Home</a></li>
                  <li class="active"><a href="about.html.erb">About</a></li>
                  <li><a href="board.html.erb">Chapter Board</a></li>
                  <li><a href="contact.html.erb">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>

      <div>
        <img src="" align="center"><br />
        <h1>Chapter Name</h1>
        <p>Region 2 is a wonderful reagion known for Helping Your Peers Excel or HYPE. If you meet anyone in our region they are bound to be all about the HYPEness. So if you would like to join in on the amazing chants known to our region please read below.</p><br />
        <p><i>We represent the D
        others: Aye!
        caller: E-U
        others: E-U
        caller: C-E
        others: C-E
        caller: And we keep it 2 hype!
        others: 2 hype!
        caller: We keep it 2 hype!
        others: 2 hype!</i></p>
      </div>

        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2016 NSBE Region 2 Communications Chair</p>
        </footer>
</body>

